{% extends 'base.html' %}

{% block title %}
{{ super() }}
Articles
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cols-4">

        {% for num in articles %}

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{ articles[num].img }} class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ articles[num].title }}</h5>
                    <p class="card-text"> {{ articles[num].text[:100] }}... </p>
                    <a href="{{ url_for('articles_app.details', pk=num) }}" class="btn btn-primary">More</a>
                    <a style='margin: 15px;' href="{{ url_for('users_app.details', pk=articles[num].author) }}"
                        class="card-link">Show Author {{ users[articles[num].author].name }}</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>


{% endblock %}